<!DOCTYPE html>
<html>
<head>
    <title>Weather App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <h1>☀️ SkyScope: Your Weather Explorer 🌈</h1>
    <div class="form-container">
        <form method="POST">
            <div class="input-group">
                <input type="text" id="city" name="city" placeholder="Enter city name" required>
            </div>
            <input type="submit" value="Get Weather">
        </form>
    </div>
    {% if weather %}
    <div class="weather-info">
        <div class="header">
            <h2>{{ weather.city }}</h2>
            <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Weather icon">
            <div>
                <span>{{ weather.temperature }} °C</span>
                <p>{{ weather.description }}</p>
            </div>
        </div>
        <div class="metrics">
            <p>Wind Speed: {{ weather.wind_speed }} m/s</p>
            <p>Rain: {{ weather.rain }} %</p>
            <p>Pressure: {{ weather.pressure }} hPa</p>
        </div>
    </div>
    {% endif %}
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
